
.treinador{
   
    text-transform: capitalize;
    text-align: center;
  
    padding: 10px;
    width: 330px;
    margin: 0 auto;
    background: radial-gradient(white , rgb(4, 43, 2));
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  }
  .Pokebola{
    background-image: url(../assets/pokeball.gif);
    width: 80px;
    height: 80px;
    background-size: cover ;
    background-position: center;
    background-color: transparent;
    border: transparent;  
    cursor: pointer;
  }
  .Pokebola1{
    background-image: url(../assets/pokeball.gif);
    width: 80px;
    height: 80px;
    background-size: cover ;
    background-position: center;
    background-color: transparent;
    border: transparent;  
    cursor: pointer;
  }
  .Pokebola2{
    background-image: url(../assets/pokeball.gif);
    width: 80px;
    height: 80px;
    background-size: cover ;
    background-position: center;
    background-color: transparent;
    border: transparent;  
    cursor: pointer;
  }
  .Pokebola3{
    background-image: url(../assets/pokeball.gif);
    width: 80px;
    height: 80px;
    background-size: cover ;
    background-position: center;
    background-color: transparent;
    border: transparent;  
    cursor: pointer;
  }
  .Pokebola:hover{
   background-image: url(../assets/rowlet5.webp);
   transform: scale(1.05);
   box-shadow: 0 0 15px rgb(0, 0, 0)
  }
  .Pokebola1:hover{
    background-image: url(../assets/tenor.gif);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(0, 0, 0)
   }
   .Pokebola2:hover{
    background-image: url(../assets/gible-pokémon-gible.gif);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(0, 0, 0)
   }
   .Pokebola3:hover{
    background-image: url(../assets/mareep.gif);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(0, 0, 0)
   }
   .pokebola-container{
    display: grid;
    grid-template-columns: repeat(3, 105px);
    gap: 5px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
   }  
  .container-background3 {
    background-size: cover;      /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../assets/gifp1.gif)
  }
  